@import "reset.less";
@import "flavor.less";
@import "functions.less";

body{
  
  font-size:14px;
  line-height:1.3em;
  
  
  padding-top:45px;
  
	.fontText;
	.variant1;
}








#mainHeader{
	position:fixed;
	top:0;left:0;right:0;
	height:@headerHeight;
	.variant5;
}


#portfolio{
  position:fixed;
  top:@headerHeight;
  bottom:0;
  left:0;
  width:100%;
  .variant2;
  overflow:auto;
}

.c{
  width:400px;
  padding:30px;
  margin-left:200px;
}
.s{
  .variant3;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:200px;
}
